apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kthena-controller-manager
rules:
  - apiGroups:
      - networking.serving.volcano.sh
    resources:
      - modelservers
      - modelroutes
    verbs:
      - watch
      - list
      - create
      - update
      - patch
      - get
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - workload.serving.volcano.sh
    resources:
      - autoscalingpolicybindings
      - autoscalingpolicies
    verbs:
      - get
      - list
      - patch
      - watch
      - create
  - apiGroups:
      - workload.serving.volcano.sh
    resources:
      - autoscalingpolicies/status
      - autoscalingpolicybindings/status
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - workload.serving.volcano.sh
    resources:
      - modelservings
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - watch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - create
      - update
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - workload.serving.volcano.sh
    resources:
      - modelboosters
    verbs:
      - get
      - list
      - patch
      - watch
  - apiGroups:
      - workload.serving.volcano.sh
    resources:
      - modelboosters/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - workload.serving.volcano.sh
    resources:
      - modelservings/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - create
      - delete
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - get
      - list
      - watch
  - apiGroups:
      - scheduling.volcano.sh
    resources:
      - podgroups
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - delete
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
      - validatingwebhookconfigurations
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - leaderworkerset.x-k8s.io
    resources:
      - leaderworkersets
      - leaderworkersets/status
    verbs:
      - get
      - list
      - watch
      - update
